* {
    box-sizing: border-box;
}

:root {
    --frame: 5px;
}

body {
    margin: 0;
    background: #2782ae;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.wrap {
    max-width: 1400px;
    background-color: #2f9acd;
    margin: 0 auto;
    padding: 5px 215px;
}

.container_list {
    background: white;
    /* padding: 5px; */
    padding: var(--frame);
}

.cityes {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    /* margin-left: -5px;
    margin-bottom: -5px; */
    margin-left: calc(0px - var(--frame));
    margin-bottom: calc(0px - var(--frame));
}

.col {
    display: inline-block;
    font-size: initial;
    /* margin-left: 5px;
    margin-bottom: 5px; */
    margin-left: var(--frame);
    margin-bottom: var(--frame);
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.col p {
    margin: 10px;
}

.col p:last-of-type {
    opacity: .8;
}

.col-1 {
    /* width: calc(25% - 5px); */
    width: calc(25% - var(--frame));
}

.col-2 {
    /* width: calc(50% - 5px); */
    width: calc(50% - var(--frame));
}

.col-4 {
    /* width: calc(100% - 5px); */
    width: calc(100% - var(--frame));
    background: #66669a;
}

.col1-1 {
    background: #2f9acd;
}

.col1-2 {
    background: #2fcdcd;
}

.col1-3 {
    background: #9a669a;
}

.col2-1 {
    background: #c34545;
}

.col2-2 {
    background: #e36749;
}

.col2-3 {
    background: #ffcd66;
}

.col2-4 {
    background: #9acd9a;
}

.col3-1 {
    background: #669a9a;
}

.col3-2 {
    background: #cd669a;
}

.col3-3 {
    background: #2f9a66;
}

.wi {
    font-size: 35px;
}

footer {
    font-size: 20px;
}

.container_list:hover .col {
    opacity: 0.6;
}

.container_list:hover .col:hover {
    opacity: 1;
}